*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
DAM/
colmap_tmp/
assets/
docs/
logs/
output/
test/
LLFF/
ckpts/
submodules/